<% layout('../layouts/boilerplate')
   %>
       <h1 class="mt-5 mb-2"
           style="transform: translate(9%); color: #bfd200">ADD FERTILIZER</h1>
       <div class="d-flex justify-content-end"
            style="transform: translateX(-9%);">

              <button class="btn btn-warning "><a style="text-decoration:none; color: black;"
                        href="/fertilizers">ALL FERTILIZERS</a></button>
       </div>

       <div class="row mb-5">
              <div class="col-10 offset-1">
                     <form class="row g-4 validated-form"
                           action="http://localhost:5000/fertilizer/new"
                           novalidate
                           method="post">
                            <div class="col-md-6">
                                   <label for="fid"
                                          class="form-label">Product ID</label>
                                   <input type="number"
                                          class="form-control"
                                          id="fid"
                                          required
                                          name="fid">
                                   <div class="valid-feedback">Looks good!</div>

                            </div>

                            <div class="col-md-6">
                                   <label for="fname"
                                          class="form-label">Product Name</label>
                                   <input type="text"
                                          class="form-control"
                                          id="fname"
                                          required
                                          name="fname">
                                   <div class="valid-feedback">Looks good!</div>

                            </div>

                            <div class="col-md-6">
                                   <label for="catno"
                                          class="form-label">Category Number ID</label>
                                   <input type="number"
                                          class="form-control"
                                          id="catno"
                                          required
                                          name="catno">
                                   <div class="valid-feedback">Looks good!</div>

                            </div>

                            <div class="col-md-6">
                                   <label for="crop_name"
                                          class="form-label">Crop Name</label>
                                   <input type="text"
                                          class="form-control"
                                          id="crop_name"
                                          required
                                          name="crop_name">
                                   <div class="valid-feedback">Looks good!</div>

                            </div>

                            <div class="col-md-4">
                                   <label for="no_of_copies"
                                          class="form-label">Number Of Copies</label>
                                   <input type="number"
                                          class="form-control"
                                          id="no_of_copies"
                                          required
                                          name="no_of_copies">
                                   <div class="valid-feedback">Looks good!</div>

                            </div>

                            <div class="col-md-4 ">
                                   <label for="fprice"
                                          class="form-label">Product Price</label>
                                   <input type="number"
                                          class="form-control"
                                          id="fprice"
                                          required
                                          name="fprice">
                                   <div class="valid-feedback">Looks good!</div>

                            </div>

                            <div class="col-md-4">
                                   <label for="fquantity"
                                          class="form-label">Product Quantity</label>
                                   <input type="number"
                                          class="form-control"
                                          id="fquantity"
                                          required
                                          name="fquantity">
                                   <div class="valid-feedback">Looks good!</div>

                            </div>

                            <div class="col-md-12">
                                   <label for="imgsrc"
                                          class="form-label">Product Image URL</label>
                                   <input type="text"
                                          class="form-control"
                                          id="imgsrc"
                                          name="fimg"
                                          required
                                          placeholder="https://5.imimg.com/data5/FM/YM/KF/SELLER-82936137/florich-npk-water-soluble-fertilizer-500x500.jpg">
                                   <div class="valid-feedback">Looks good!</div>

                            </div>

                            <div class="col-md-6">
                                   <label for="fmfg"
                                          class="form-label">Mfg Date</label>
                                   <input type="date"
                                          class="form-control"
                                          id="fmfg"
                                          required
                                          name="fmfg">
                                   <div class="valid-feedback">Looks good!</div>

                            </div>

                            <div class="col-md-6">
                                   <label for="fexp"
                                          class="form-label">Exp Date</label>
                                   <input type="date"
                                          class="form-control"
                                          id="fexp"
                                          required
                                          name="fexp">
                                   <div class="valid-feedback">Looks good!</div>

                            </div>

                            <div class="col-md-12">
                                   <label for="fdesc"
                                          class="form-label">Product description</label>
                                   <textarea name="fdesc"
                                             id="fdesc"
                                             name="fdesc"
                                             required
                                             class="form-control"></textarea>
                                   <div class="valid-feedback">Looks good!</div>

                            </div>

                            <div class="col">
                                   <button type="submit"
                                           class="btn btn-primary">Add Product</button>
                            </div>
                     </form>
              </div>
       </div>