<% layout('../layouts/boilerplate')
   %>
    <div class="row my-5">
        <div class="col-6 offset-3">
            <div class="alert alert-danger"
                 role="alert">
                <h4 class="alert-heading display-4"><%= err.statusCode %> &ensp;<%= err.message %></h4>
                <p> <%= err.stack %> </p>
            </div>
        </div>
    </div>