<% layout('../layouts/boilerplate')%>


<div class="text-center mt-5">
    <h1 class="display-2">Thanks for shopping here! </h1>
    <h3 class="display-5">Your happiness is on its way...! </h3>
    <img src="https://previews.123rf.com/images/grafner/grafner1402/grafner140200058/26055086-stack-of-colorful-gift-boxes.jpg"  alt="" style="width: 400px;">

    <div class="mt-5">
            <button class="btn btn-outline-success"><a href="/getInvoice" style="text-decoration: none; color: black;">Get Invoice</a> </button>
    </div>
</div>