<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #1d3557;">
  <div class="container-fluid">
    <a class="navbar-brand fs-1" style="color: white;"
       href="/">FARM MANAGEMENT SYSTEM</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link active"
           style="color: white;"
           aria-current="page"
           href="/">HOME</a>

        <a class="nav-link"
           style="color: white;"
           href="/fertilizers">FERTILIZERS</a>

        <a class="nav-link" style="color: white;"
           href="/equipments">EQUIPMENTS</a>


      </div>
      <div class="navbar-nav ms-auto">
         <% if(username !== 'yohanswamy@gmail.com' && username !== 'agasthyasunil@gmail.com') {%> 
            <a class="nav-link" style="color: white;" href="/cartItems"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-plus-fill" style="transform: translateY(-.5mm);" viewBox="0 0 16 16">
            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
            </svg> &nbsp; CART</a>
         <% } %> 
          
          <% if(username) {%> 
            <a class="nav-link"  style="color: white;" href="/updateProfile"><%= username %> </a>
           <% } %> 

         <% if(!username) { %> 
            <a class="nav-link"  style="color: white;" href="/login">LOGIN</a>
         <% } else { %>
            <form action="/logout" method="POST">
               <button style="border: none; background-color: #1d3557; color: white; transform: translateY(8px);">LOGOUT</button>
           </form>
           <% } %>
          
      </div>
      
    </div>
  </div>
</nav>